.root {
    position: relative;

    > * {
        position: absolute;
    }
}

.initial {
    opacity: 0;
    visibility: hidden;
}

.fading-in {
    opacity: 1;
    visibility: visible;

    transition: opacity 0.5s ease-in-out;
    will-change: opacity;
}

.fading-out {
    opacity: 0;
    visibility: visible;

    transition: opacity 0.5s ease-in-out;
    will-change: opacity;
}