body, #__next {
  background-color: #F5F5F5;
  cursor: default;
  user-select: none;

  a {
    text-decoration: none;

    * {
      user-select: unset;
      cursor: unset;
    }
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  place-content: stretch;

  .MuiBackdrop-root {
    backdrop-filter: blur(20px);
    background: none;
    background-color: rgba(245, 245, 245, 0.7);
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    will-change: transform;
  }
}

html {
  overflow-y: scroll;
}