.content-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.spacer {
    &.top {
        flex-grow: 1;
        margin-top: 120px;
    }

    &.bottom {
        flex-grow: 2;
        margin-bottom: 120px;
    }
}

.app-bar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    min-height: 0;

    .logo.bountyhunt {
        margin: 20px;
        display: flex;
        flex-direction: row;
        color: #0045FF;
        align-content: center;
        justify-content: center;

        .text-container {
            display: flex;
            flex-direction: column;
            place-self: flex-end;

            .main-text {
                font-size: 30px;
                font-weight: 100;
                line-height: 30px;
                letter-spacing: -2px;
            }

            .secondary-text {
                font-size: 10px;
                opacity: 0.4;
                line-height: 10px;
                color: black;
                margin-left: 1.25px;
            }

            .main-text, .secondary-text {
                text-transform: lowercase;
                display: block;
                cursor: default;
            }
        }

        .image {
            width: 50px;
            height: 50px;
            margin-left: 5px;
        }
    }

    .logo.sponsorkit {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        color: #0045FF;
        align-content: center;
        justify-content: center;

        .text-container {
            display: flex;
            flex-direction: column;
            place-self: center;

            .main-text {
                font-size: 30px;
                font-weight: 100;
                line-height: 30px;
                letter-spacing: -2px;
            }

            .main-text, .secondary-text {
                text-transform: lowercase;
                display: block;
                cursor: default;
            }
        }

        .image {
            width: 70px;
            height: 70px;
            margin-left: 5px;
        }
    }
}