.issue {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: rgba(0,0,0, 0.025);
    padding: 5px 10px;

    .heading {
        font-size: 16px;

        .number {
            padding-right: 5px;
            font-weight: 100;
            opacity: 0.5;
        }
    }

    .author {
        font-size: 11px;
        opacity: 0.5;
    }

    .button-container {
        gap: 10px;
        display: flex;
    }
}

.detailed-button {
    display: inline-block;
    text-transform: unset;
    max-width: 300px;

    .title {
        display: block;
    }

    .subtitle {
        display: block;
        font-weight: 100;
        font-size: 11px;
    }
}