.root {
    max-width: 470px;

    .header {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .text {
        opacity: 0.7;
    }

    .issue {
        border-radius: 5px;
        border: 1px solid;
        border-color: rgba(0,0,0, 0.05);
        background-color: rgba(0,0,0, 0.01);
        padding: 10px 15px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        transition: 
            background-color 0.2s ease-in-out,
            border-color 0.2s ease-in-out;

        &:hover {
            border-color: rgba(0,0,0, 0.1);
            background-color: rgba(0,0,0, 0.05);

            .open-in-new-icon {
                opacity: 1;
            }
        }

        .open-in-new-icon {
            transition: opacity 0.2s ease-in-out;
            will-change: opacity;
            opacity: 0.3;
        }

        .heading {
            font-size: 17px;

            .number {
                padding-right: 7px;
                font-weight: 100;
                opacity: 0.6;
            }
        }

        .author {
            font-size: 12px;
            opacity: 0.4;
        }
    }

    .detailed-button {
        display: inline-block;
        text-transform: unset;
        width: 200px;
        height: 90px;

        .title {
            display: block;
            font-size: 17px;
        }

        .subtitle {
            display: block;
            font-weight: 100;
            font-size: 12px;
            line-height: 120%;
            opacity: 0.6;
        }
    }

    .button-container {
        gap: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}