.summary {
    $font-size: 13px;

    opacity: 0.5;

    margin-top: 8px;
    margin-bottom: 8px;

    width: 275px;

    place-self: flex-start;

    position: relative;

    a {
        color: inherit;
    }

    .text {
        position: absolute;
        font-size: $font-size !important;

        .spinner {
            width: $font-size !important;
            height: $font-size !important;

            display: inline-block;

            margin-right: 5px;

            color: inherit;
        }
    }
}