@model Sponsorkit.BusinessLogic.Domain.Mediatr.Email.Templates.BountyClaimRequest.Model
<p>The user @Model.ClaimedByUsername is claiming to have solved the issue, and wants to claim your bounty.</p>
<p>Click the following link to decide whether or not to award the bounty.</p>
<p>
    <a href="@Model.VerdictUrl">Verify</a>
</p>