.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .text {
        margin-right: 30px;
    }
}
    
.accordions {
    margin-top: 20px;
    flex-shrink: 2;

    .accordion {
        .accordion-summary {
            margin-left: 10px;

            .header {
                font-weight: bold;
                font-size: 14px;
            }

            .checkbox {
                margin-right: 10px;
            }
        }

        .accordion-details {
            $gap: 20px;

            display: flex;
            flex-direction: column;
            gap: $gap;

            .description {
                font-size: 14px;
                margin-top: -$gap / 2;
            }

            .complete-button {
                align-self: flex-start;
            }
        }
    }
}