.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .text {
        margin-right: 30px;
    }

    .progress-bar {
        transition: opacity 1s ease-in-out;
        opacity: 0.25;

        &.loaded {
            opacity: 1;
        }
    }
}
    
.accordions {
    margin-top: 20px;
    flex-shrink: 2;

    .accordion {
        .accordion-summary {
            margin-left: 10px;

            .header {
                font-weight: bold;
                font-size: 14px;
            }

            .checkbox {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                opacity: 1;
                transition: opacity 1s ease-in-out;

                &.progress-bar {
                    color: rgba(145, 158, 171, 0.8);
                    opacity: 0.5;
                }
            }
        }

        .accordion-details {
            $gap: 20px;

            display: flex;
            flex-direction: column;
            gap: $gap;

            .description {
                font-size: 14px;
                margin-top: -$gap / 2;
            }

            .complete-button {
                align-self: flex-start;
            }
        }
    }
}