.root {
    border-radius: 5px;

    .button {
        margin-top: 8px;
        margin-right: 8px;
    }

    .actions-container {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .reset-container {
        padding: 24px;
    }

    .step-container {
        display: flex;
        flex-direction: column;
    }
}