.tooltip {
    span {
        font-size: 13px;
        padding-top: 10px;
        display: block;
    
        &:first-child {
            padding-top: 0;
        }
    }
}

.typography {
    font-size: inherit;
    display: inline-block;
    font-weight: bold;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-underline-offset: 2px;
}