.root {
    padding-top: 20px;

    .issue {
        max-width: 846px;
        width: 100%;
        float: left;

        .issue-title {
            text-transform: uppercase;
            font-size: 14px;
        }

        .issue-number {
            opacity: 0.3;
            font-weight: 100;
            padding-left: 5px;
        }

        .markdown {
            font-size: 14px;
            line-height: 21px;

            p {
                margin-bottom: 16px;
                margin-block-end: 16px;
            }

            li {
                list-style-type: none;

                input[type=checkbox] {
                    display: inline-block;
                    margin-bottom: 3.5px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .create-bounty {
        width: 340px;
        margin-left: 20px;
        float: left;

        .bounty-amount {
            background-color: #0045ff;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .label-container {
                .amount-raised {
                    font-weight: 100;
                }

                .amount-of-sponsors {
                    opacity: 0.75;
                }
            }

            .button-container {
                align-self: flex-end;
            }

            .claim-button {
                color: rgba(255,255,255,1);
                border-color: rgba(255,255,255,0.5);
                background-color: rgba(255,255,255,0.1);

                &.disabled {
                    color: rgba(255,255,255,0.5);
                    border-color: rgba(255,255,255,0.1);
                }
            }
        }

        .title {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}