.root {
    padding-top: 20px;

    .issue {
        max-width: 846px;
        width: 100%;
        float: left;

        .issue-title {
            text-transform: uppercase;
            font-size: 14px;
        }

        .issue-number {
            opacity: 0.3;
            font-weight: 100;
            padding-left: 5px;
        }

        .markdown {
            font-size: 14px;
            line-height: 21px;

            p {
                margin-bottom: 16px;
                margin-block-end: 16px;
            }

            li {
                list-style-type: none;

                input[type=checkbox] {
                    display: inline-block;
                    margin-bottom: 3.5px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .create-bounty {
        width: 340px;
        margin-left: 20px;
        float: left;

        .bounty-amount {
            background-color: #0045ff;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .icon-label {
                display: flex;
                flex-direction: row;

                .typography, .icon {
                    font-size: 40px;
                    line-height: 100%;
                    font-weight: 100;
                }

                &.amount-raised {
                }

                &.amount-of-sponsors {
                    .icon {
                        margin-right: 5px;
                    }
                }
            }
        }

        .title {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}