.root-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .issue-box {
        display: flex;
        flex-direction: column;

        .issue {
            z-index: 11;
            max-width: 846px;
            width: 100%;

            .repo-title {
                cursor: text;
                text-transform: uppercase;
                font-size: 14px;
                color: #0045ff;
            }

            .issue-title {
                cursor: text;

                .issue-number {
                    opacity: 0.3;
                    font-weight: 100;
                    padding-left: 5px;
                }
            }

            .markdown {
                cursor: text;
                font-size: 14px;
                line-height: 21px;

                p {
                    margin-bottom: 16px;
                    margin-block-end: 16px;
                }

                li {
                    list-style-type: none;

                    input[type=checkbox] {
                        display: inline-block;
                        margin-bottom: 3.5px;
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }

        .bounty-activity {
            position: relative;
            z-index: 10;
            top: -30px;
            padding-top: 40px;
            margin-bottom: -20px;
            background-color: #fbfbfb;

            .date-mark {
                padding-top: 7px;

                .date, .time {
                    display: block;
                    font-size: 12px;
                    line-height: 16px;
                }

                .time {
                    opacity: 0.75;
                }
            }

            .timeline-content {
                justify-content: center;
                display: flex;
                flex-direction: column;
                margin-bottom: 12px;

                .title, .subtext {
                    justify-self: center;
                }

                .subtext {
                    font-size: 12px;
                }
            }
        }
    }

    .bounties {
        width: 340px;
        min-width: 340px;
        align-self: flex-start;

        .bounty-amount {
            background-color: #0045ff;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .label-container {
                .amount-raised {
                    font-weight: 100;
                }

                .amount-of-sponsors {
                    opacity: 0.75;
                }
            }

            .button-container {
                align-self: flex-end;
            }

            .claim-button {
                color: rgba(255,255,255,1);
                border-color: rgba(255,255,255,0.5);
                background-color: rgba(255,255,255,0.1);

                &.disabled {
                    color: rgba(255,255,255,0.5);
                    border-color: rgba(255,255,255,0.1);
                }
            }
        }

        .add-button {
            margin-top: 10px;
        }

        .title {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}