.root {
    display: flex;
    flex-direction: column;

    .profile-completion-header {
        align-self: center;
    }

    .account-overviews {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 40px;
    }
}