.root {
    display: flex;
    flex-direction: column;

    .profile-completion-header {
        align-self: center;
        text-align: center;
    }

    .account-overviews {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 40px;

        .account-overview {
            display: flex;
            justify-content: space-between;
            justify-self: center;
            max-width: 650px;
        }
    }
}