.root {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .account-overview {
        display: flex;
        justify-content: space-between;
        justify-self: center;

        .content {
            .progress {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                place-items: center;

                ul {
                    list-style: none;
                    margin-left: 10px;

                    li {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        margin: 10px;

                        .typography {
                            padding-left: 5px;
                        }

                        &.incomplete p {
                            font-weight: bold;
                            text-decoration: underline;
                            text-decoration-style: dotted;
                            text-decoration-color: #ccc;
                            cursor: pointer;
                        }

                        &.complete {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.verify-email-dialog {
    max-width: 500px;

    .text-box {
        width: 100%;
        margin-top: 20px;
    }
}